#root{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}
.card{
    max-width: 9rem;
    height: 20rem;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.7);
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    font-family: cursive;
    margin: 0.5rem;
    cursor: pointer;
    background-image: linear-gradient(to top right, #a91a10 30%, #fcbe9f 70%);
}
h2{
  font-size: 98%;
}
img{
    width: 100%;
    border-radius: 10px;
}


